* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
}

img {
    width: 100%;
}

/*** utilities ***/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.white-text {
    color: white;
}

.grey-text {
    color: #878787;
}

.space-between {
    justify-content: space-between;
}



/*** /utilities ***/

/*** shared ***/



.rounded-img {
    border-radius: 50%;
}





/*** aside ***/
.aside {
    width: 50px;
    height: 100vh;
    background-color: black;
    z-index: 900;
    position: fixed;
}


.aside-options {
    padding-top: 10px;
}

.aside-options img {
    margin-bottom: 20px;
}

.img-container {
    align-items: center;
    justify-content: center;
}

.img-container {
    padding: 0px 5px;
}

.big-logo {
    display: none;
}

.aside-text {
    display: none;
}

.playlist {
    display: none;
}

.plus {
    background-color: #d2d2d2;
    height: 30px;

}

.plus i {
    text-align: center;
}

.playlist h5 {
    margin-bottom: 10px;
}

.playlist>p {
    line-height: 40px;
}

.aside-user {
    position: absolute;
    top: 730px;
    display: none;

}

hr {
    width: 80%;
    margin: 10px 5px;
}


/* .aside-options :not(:first-child) {
    width: 70%;
} */



/*** /aside ***/

/*** header ***/

header {
    height: 100px;
    opacity: 90%;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-left: 50px;
    /* da cambiare quando allargherò l'aside */
}

header button {
    opacity: 90%;
    background-color: black;
    color: white;
    border-radius: 20px;
    border-color: white;
    padding: 10px 40px;
    border-style: solid;
}

/*** /header ***/

/*** main ***/
main {
    background-color: grey;
    margin-top: 100px;
    padding: 0px 10px;
    margin-left: 50px;
    flex-grow: 1;
}

main h1 {
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
}

.row1-container {
    width: 100%;
    justify-content: center;
}

.row1 {
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.row1 a {
    text-decoration: none;
    color: darkgrey;

}

.row1>div {
    width: calc(100% / 4);
    line-height: 50px;
    text-align: center;
}

.img-distribution {
    width: calc(100%/2 - 5px);
    text-align: center;
    line-height: 30px;
}


.img-distribution img {
    width: 100%;
}

.recently-played {
    flex-wrap: wrap;


}


/* .recently-played>div {
    width: calc(100%/2 - 5px);
    text-align: center;
    line-height: 30px;
} */

.recently-played>div>p {
    color: darkgray;
}

.titles-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.popolari {
    padding-bottom: 150px;
}


/*** footer ***/
footer {
    height: 100px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #282828;
    justify-content: space-between;

}


.actual-song-container {
    width: 25%;
    justify-content: space-around;
}

.actual-song {
    width: 50%;
    justify-content: space-around;
}

.actual-song-img {
    width: 50%;
}

.central-actions {
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.volume {
    width: 25%;
    justify-content: flex-end;
}

.actual-song-info {
    justify-content: space-evenly;
}

.like {
    justify-content: space-around;
}



.actions-to-song {
    width: 70%;
    justify-content: space-evenly;
}

.volume {
    align-items: center;
    justify-content: space-between;
}

.volume>* {
    height: 25%;
    margin-right: 10px;
    align-items: center;

}

.volume-section {
    width: 50%;
    justify-content: space-between;
}



.play-rule {
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.song-button {
    border-radius: 25px;
    width: 80%;
    border: none;
    background-color: #878787;
    height: 25%;
}






@media screen and (min-width:576px) {

    header {
        margin-left: 200px;
    }

    /** aside **/

    .aside {
        width: 200px;
        padding-left: 5px;
    }

    .aside-options {
        align-items: flex-start;
    }

    .img-container :first-child {
        width: 75%;
    }

    .aside-list .img-container {
        width: 25%;
    }

    .big-logo {
        display: block;
    }

    .small-logo {
        display: none;
    }

    .aside-list {
        position: relative;
    }

    .aside-text {
        display: block;
        position: absolute;
        left: 50px;
        top: 10px;
    }

    .aside-user {
        width: 100%;
        display: block;
    }

    .user-text {
        display: block;
    }

    .playlist {
        display: block;
    }






    /*** main ***/


    main {
        margin-left: 200px;
    }


    .row1>div {
        width: calc(100% / 3);
    }



    .img-container p {
        display: inline;
    }


}

@media screen and (min-width:768px) {

    /*** main ***/

    .row1-container {}

    .row1>div {
        width: calc(100% / 5);
    }

    .recently-played {
        justify-content: flex-start;
    }

    .img-distribution {
        width: calc(100% / 4 - 5px)
    }

    .recently-played :nth-child(odd) {
        margin-right: 5px;
    }

    .recently-played :nth-child(2) {
        margin-right: 5px;

    }

    .creato-per {
        justify-content: flex-start;
    }

    .creato-per>* {
        margin-right: 5px;
    }

    .popolari {
        justify-content: flex-start;
    }

    .popolari>* {
        margin-right: 5px;
    }

    .like {
        flex-direction: row;
        align-items: center;
        width: 25%;
    }



}

@media screen and (min-width: 992px) {

    .row1 {
        width: 60%;
    }

    .row1>div {
        width: calc(100% / 6);
    }

    .img-distribution {
        width: calc(100% / 6 - 5px)
    }
}